
.photos {
  box-sizing: border-box;
  border-left: solid black 10px;
  border-right: solid black 10px;
  text-align: center;
  overflow: auto;
  transform: translateY(50px);
}

.item {
  position: relative;
  display: inline-flex;
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.photo {
  max-width: 100%;
  opacity: .9;
  backface-visibility: hidden;
}

.item:hover .photo {
  transition: all .3s ease-out;
  opacity: .4;
  transform: scale(1.1);
}

.red-row {
  display: inline-flex;
  background-color: red
}

.orange-row {
  display: inline-flex;
  background-color: orange;
}

.yellow-row {
  display: inline-flex;
  background-color: yellow;
}

.green-row {
  display: inline-flex;
  background-color: green;
}

.blue-row {
  display: inline-flex;
  background-color: blue;
}

.purple-row {
  display: inline-flex;
  background-color: purple;
}

.tooltip {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.tooltip .tooltiptext {
  box-sizing: border-box;
  position: absolute;
  width: 90%;
  bottom: 5%;
  left: 5%;
  padding: 5px;
  font-size: 12px;
  border-radius: 10px;
  background-color:rgb(80, 80, 80);
  color: white;
  opacity: 0;
}

.item:hover .tooltiptext {
  opacity: .8;
  transition: opacity 0.5s ease-out;
}
