#header {
    position: fixed;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: black;
    z-index: 1;
}

#header-text {
    display: inline-flex;
    align-items: baseline;
    color: white;
    font-size:   32px;
}

#author {
    font-size: 18px;
}
